html,body { margin:0; color:white; background-color:black; height:96%; }
textarea { color: white; background-color: #555555; }
a { color: #444444; text-decoration: none; }
a:visited { color: dimgray; }
.topbar-group { position:absolute;top:0;left:0;z-index:999;border:0;width:100%;height:64px; border-bottom:1px solid rgba(255,255,255,0.4); }
.topbar { display: flex; flex-direction: row; flex-wrap: nowrap; height: fit-content; margin:5px 0 5px 0; }
.tool-button { width: fit-content; padding:2px 5px 2px 5px; margin-left:10px; border-radius:5px; background-color: rgba(255,165,0,0.5); }
.tool-button a { color:white; }
.tool-button a:visited { color:silver; }
.flex-container { display: flex; margin-top: 68px; height: 80%; flex-wrap: nowrap; background-color: black; }
.bottom-ads { background-color: black; margin-top: 15px; margin-left: 31.4%; margin-right: 1%; }
.usage-pane { width: 30%; margin: 5px; padding: 10px; font-size: large; }
.usage-pane a { display:inline-block; padding:4px 8px 4px 8px; margin-top:8px; border-radius:4px; background-color: wheat; }
.usage-pane > img { margin-left:10px; display: block; max-width:98%; }
.usage-pane > h1 { text-align:center; color: orange; font-size: xx-large; }
.usage-pane > h2 { text-align:center; color: snow; font-size: large; line-height:150%; margin-bottom: 20px; }
.usage-pane > h3 { color: orange; font-size: large; margin-left: 10px; }
.usage-pane > h4 { color: snow; text-align: center; font-size: medium; margin-left: 10px; }
.usage-pane > p { color: snow; font-size: medium; margin-left: 10px; }
.usage-pane > pre { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;
	word-wrap: break-word; font-family: monospaced; font-size: small;
	margin-left: 10px; padding: 15px 10px 15px 10px; background-color:#222222; }
.input-pane { width:35%; height: 100%; display: flex; flex-direction: column; flex-wrap: nowrap; }
.output-pane { width:35%; height: 100%; display: flex; flex-direction: column; flex-wrap: nowrap; }
.input-pane > textarea { display:table-row; margin-top:15px; width:96%; height:98%; }
.output-pane > textarea { display:table-row; margin-top:15px; width:94%; height:43%; }
.output-pane > button { width: 95%; margin-top:15px; }
.leo-logo img, img.leo-logo { display:block; margin:0 auto; width:50px; height: 50px; 
  -webkit-transition: -webkit-transform 0.3s ease; transition: -webkit-transform 0.3s ease; 
  transition: transform 0.3s ease; transition: transform 0.3s ease,-webkit-transform 0.3s ease; border-radius: 50%; }
img.leo-logo:hover,.leo-logo:hover img {
  transform: rotate(360deg); -ms-transform: rotate(360deg);
  /* IE 9 */ -moz-transform: rotate(360deg);
  /* Firefox */ -webkit-transform: rotate(360deg);
  /* Safari and Chrome */ -o-transform: rotate(360deg); }